@model List<Dastone.Entities.Cliente>

@{
    ViewData["Title"] = "Cliente";
}

<div class="container-fluid">
    <h1 class="mt-4">Gestión de Clientes</h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <a asp-action="Create" class="btn btn-warning">
                                <i data-feather="edit-2">Agregar Cliente</i><span class="align-middle">Agregar Cliente</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Correo Electrónico</th>
                                <th>Fecha de Registro</th>
                                <th>Notas</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cliente in Model)
                            {
                                <tr>
                                    <td>@cliente.Nombre</td>
                                    <td>@cliente.Direccion</td>
                                    <td>@cliente.Telefono</td>
                                    <td>@cliente.CorreoElectronico</td>
                                    <td>@cliente.FechaRegistro</td>
                                    <td>@cliente.Notas</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <!-- Required datatable js -->
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap5.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/lib/datatables/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables/jszip.min.js"></script>
    <script src="~/lib/datatables/pdfmake.min.js"></script>
    <script src="~/lib/datatables/vfs_fonts.js"></script>
    <script src="~/lib/datatables/buttons.html5.min.js"></script>
    <script src="~/lib/datatables/buttons.print.min.js"></script>
    <script src="~/lib/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/lib/datatables/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables/responsive.bootstrap4.min.js"></script>
    <script src="~/js/pages/jquery.datatable.init.js"></script>
    <script src="~/lib/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/tiny-editable/numeric-input-example.js"></script>
    <script src="~/lib/bootable/bootstable.js"></script>
    <script src="~/js/pages/jquery.tabledit.init.js"></script>
}