@model List<Dastone.Entities.OrdenTrabajo>
@{
    ViewData["Title"] = "OrdenT";
}

<div class="container-fluid">
    <h1 class="mt-4">Órdenes de Trabajo</h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <a asp-action="Select" class="btn btn-warning">
                                <i data-feather="edit-2"></i><span class="align-middle">Crear Orden de Trabajo</span>
                            </a>
                        </div><!--end col-->
                    </div>  <!--end row-->
                </div><!--end card-header-->
                <div class="card-body">
                    <div class="table-responsive" id="makeEditable">
                        <table class="table table-hover mb-0 datatable-buttons" id="datatable-buttons">
                            <thead class="thead-light">
                                <tr>
                                    <th>Cliente</th>
                                    <th>Placa</th>
                                    <th>Fecha Creación</th>
                                    <th>Tipo Trabajo</th>
                                    <th>Detalle Orden</th>
                                    <th>Estado</th>
                                    <th>Costo Total</th>
                                    <th>Fecha Entrega</th>
                                    <th>Observaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var orden in Model)
                                {
                                    <tr>
                                        <td>@orden.ClienteId</td>
                                        <td>@orden.Placa</td>
                                        <td>@orden.FechaCreacion.("dd/MM/yyyy")</td>
                                        <td>@orden.TipoTrabajo</td>
                                        <td>@orden.DetalleOrden</td>
                                        <td>@orden.Estado</td>
                                        <td>@orden.CostoTotal</td>
                                        <td>@orden.FechaEntrega?.ToString("dd/MM/yyyy")</td>
                                        <td>@orden.Observaciones</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div><!--end table-responsive-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
</div>

@section scripts{
    <!-- Required datatable js -->
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap5.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/lib/datatables/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables/jszip.min.js"></script>
    <script src="~/lib/datatables/pdfmake.min.js"></script>
    <script src="~/lib/datatables/vfs_fonts.js"></script>
    <script src="~/lib/datatables/buttons.html5.min.js"></script>
    <script src="~/lib/datatables/buttons.print.min.js"></script>
    <script src="~/lib/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/lib/datatables/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables/responsive.bootstrap4.min.js"></script>
    <script src="~/js/pages/jquery.datatable.init.js"></script>
    <script src="~/lib/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/lib/tiny-editable/numeric-input-example.js"></script>
    <script src="~/lib/bootable/bootstable.js"></script>
    <script src="~/js/pages/jquery.tabledit.init.js"></script>
}